<!DOCTYPE html>
<html lang="en">
	<%-include('common/head')%>

<body>
	<!-- Header -->
	<%-include('common/nav')%>


	<!-- Banner -->
	<section class="tm-banner">
    <!-- Flexslider -->
    <div class="flexslider flexslider-banner">
      <ul class="slides">
        <li>
            <div class="tm-banner-inner">
                <h1 class="tm-banner-title">Find <span class="tm-yellow-text">The Best</span> Place</h1>
                <p class="tm-banner-subtitle">For Your Holidays</p>
                <a href="/contact" class="tm-banner-link">Sign Up</a>	
            </div>
            <img src="img/banner-1.jpg" alt="Image" />	
        </li>
      </ul>
    </div>	
</section>

	 <!-- test -->
	 <section>
    <div class="tm-white-bg section-padding-bottom">
        <div class="main-section">
            <div class="registration-section">
                <h2>register or sign in</h2>
                        <div class="register-form">
							<div class="login-form">
                                <form action="/login/create" method="post">
                                    <input type="email" name="email"  placeholder="User Email">
                                    <input type="password" name="password"  placeholder="Password">
                                    <span><input type="checkbox" name="rememberme">Remember Me</span>
                                    <input type="submit" value="login">
                                </form>
			   <br><br><br><br> <%if(message3.length>0){%>
                               <span class="alert alert-danger" role="alert" style="padding: 10px;">
                                    <%=message3%>
					            </span>
                                    <%}%>
                            </div>
							<%if(message1.length>0){%>
                                 <span class="alert alert-success" role="alert" style="padding: 5px">
                                        <%=message1%>
				                  </span>
                                           <%}%>
                            <%if(message2.length>0){%>
                                    <span class="alert alert-danger" role="alert" style="padding: 5px;">
                                         <%=message2%>
					                </span>
                                        <%}%>
                            <div class="registration-form">
                                <form action="/register/create" method="post">
                                    <input type="text" name="name" placeholder="User name">
                                    <input type="text" name="email" placeholder="Email">
                                    <input type="password" name="password" placeholder="Password">
                                    <input type="password" name="cpassword" placeholder="Confirm Password">
                                    <input type="submit" value="Register">
                                </form>
                            </div>
                            <div class="clear">
                                <a href="/userdashboard" class="btn btn-success">User Dashboard<i class="fa fa-dashboard" aria-hidden="true"></i></a>
                            </div>
                        </div>
            </div>
        </div>
	</section>
    <!-- /test -->

	<!-- gray bg -->	
	
	<%-include('common/footer')%>

	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>      		<!-- jQuery -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>					<!-- bootstrap js -->
	<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>			<!-- flexslider js -->
	<script type="text/javascript" src="js/templatemo-script.js"></script>      		<!-- Templatemo Script -->
	<script>
		$('.flexslider').flexslider({
		  		controlNav: false,
		  		directionNav: false
		  	});

	</script>
</body>
</html>
