<!DOCTYPE html>
<html lang="en">
	<%-include('common/head')%>

<body>
	<!-- Header -->
	<%-include('common/nav')%>

    <div class="container-fluid" style="padding-top: 72px;">
        <div class='row'>
            <div class='col-md-4'></div>
            <div class='col-md-4'>
              <!-- <script src='https://js.stripe.com/v2/' type='text/javascript'></script> -->

              <form action="/paymentdata" method="post"><div style="margin:0;padding:0;display:inline;"></div>
                <div class='form-row'>
                  <div class='col-xs-12 form-group required'>
                    <label class='control-label'>Name</label>
                    <input class='form-control' name="name" size='4' type='text'>
                  </div>
                </div>
                <div class='form-row'>
                  <div class='col-xs-12 form-group required'>
                    <label class='control-label'>Email</label>
                    <input class='form-control' name="email" size='4' type='text'>
                  </div>
                </div>
                  <div class='form-row'>
                  <div class='col-xs-12 form-group required'>
                    <label class='control-label'>StartingDate</label>
                    <input class='form-control' name="startingdate" size='4' type='text'>
                  </div>
                </div>
                <div class='form-row'>
                  <div class='col-xs-12 form-group required'>
                    <label class='control-label'>EndingDate</label>
                    <input class='form-control' name="endingdate" size='4' type='text'>
                  </div>
                  </div>
                <div class='form-row'>
                  <div class='col-xs-12 form-group required'>
                    <label class='control-label'>Package Name</label>
                    <input class='form-control' name="packagename" size='4' type='text'>
                  </div>
                </div>
                <div class='form-row'>
                  <div class='col-xs-12 form-group required'>
                    <label class='control-label'>Number of Travelers</label>
                    <input class='form-control' name="personcount" size='4' type='text'>
                  </div>
                </div>
                 
                <div class='form-row'>
                  <div class='col-md-12 form-group'>
                    <button class='form-control btn btn-primary submit-button' type='submit'>book »</button>
                  </div>
                </div>
               
              </form>
            </div>
            <div class='col-md-4'></div>
            </div>
            <%if(message4.length>0){%>
            <span class="alert alert-success" role="alert">
                <%=message4%>
				    </span>
          <%}%>
          <%if(message5.length>0){%>
            <span class="alert alert-success" role="alert">
                <%=message5%>
				    </span>
          <%}%>
          <%if(message6.length>0){%>
            <span class="alert alert-success" role="alert">
                <%=message6%>
				    </span>
          <%}%>

    </div>
	<!-- Banner -->
	

	<!-- gray bg -->	
    <div style="padding-top: 285px;">
        <%-include('common/footer')%>
    </div>
	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>      		<!-- jQuery -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>					<!-- bootstrap js -->
	<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>			<!-- flexslider js -->
	<script type="text/javascript" src="js/templatemo-script.js"></script>      		<!-- Templatemo Script -->
	<script>
        $(function() {

// https://css-tricks.com/snippets/jquery/smooth-scrolling/
$('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
            $('html,body').animate({
                scrollTop: target.offset().top
            }, 1000);
            return false;
        }
    }
});
  // Google Map
});
	</script>
</body>
</html>
