<!DOCTYPE html>
<html lang="en">
	<%-include('common/head')%>

<body>
	<!-- Header -->
	<%-include('common/nav')%>


<section class="container tm-home-section-1">
    <div class="section" style="margin-top: 80px;">
        <img src="<%=redirectdata.RBimage%>" alt="image" class="img-responsive">
        <br>
        <div class="row">				
            <div class="tm-section-header">

                
                <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
                <div class="col-lg-6 col-md-6 col-sm-6"><h2 class="tm-section-title"><%=redirectdata.placename%></h2></div>
                <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>	
            </div>
        </div>
    </div>

    
        <div class="section">
             <div class="container tm-home-section-1">
            <p><%=redirectdata.redirectdescription%></p>
        </div>
            <div class="row">				
                <div class="tm-section-header">
                    <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
                    <div class="col-lg-6 col-md-6 col-sm-6"><h2 class="tm-section-title">Spots we are visiting</h2></div>
                    <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>	
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tm-tours-box-1">
                        <img src="<%=redirectdata.RS1image%>" alt="image" class="img-responsive">
                        
                    </div>					
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tm-tours-box-1">
                        <img src="<%=redirectdata.RS2image%>" alt="image" class="img-responsive">
                       
                    </div>					
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tm-tours-box-1">
                        <img src="<%=redirectdata.RS3image%>" alt="image" class="img-responsive">
                    </div>					
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tm-tours-box-1">
                        <img src="<%=redirectdata.RS4image%>" alt="image" class="img-responsive">
                    </div>					
                </div>
            </div>		
        </div>
</section>

    <a href="/payment" class="tm-tours-box-2-link">Book Now</a>



	<!-- Banner -->
	

	<!-- gray bg -->	
    <%-include('common/footer')%>
	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>      		<!-- jQuery -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>					<!-- bootstrap js -->
	<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>			<!-- flexslider js -->
	<script type="text/javascript" src="js/templatemo-script.js"></script>      		<!-- Templatemo Script -->
	<!-- <script>
        $(function() {

// https://css-tricks.com/snippets/jquery/smooth-scrolling/
$('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
            $('html,body').animate({
                scrollTop: target.offset().top
            }, 1000);
            return false;
        }
    }
});
  // Google Map
});
	</script> -->
</body>
</html>
