<!DOCTYPE html>
<html lang="en">
	<%-include('common/head')%>

  <body class="tm-gray-bg">
  	<!-- Header -->
	  <div class="tm-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-4 col-sm-3 tm-site-name-container">
					<a href="/" class="tm-site-name">Holiday</a>	
				</div>
				<div class="col-lg-6 col-md-8 col-sm-9">
					<div class="mobile-menu-icon">
					<i class="fa fa-bars"></i>
				  </div>
					<nav class="tm-nav">
					  <ul>
						 <li><a href="/">Home</a></li>
						  <li><a href="/tour">Our Tours</a></li>
						  <li><a href="/about">About</a></li>
						  <li><a href="/contact">Login</a></li>
						</ul>
				  </nav>		
				</div>				
			</div>
		</div>
		</div>
	
	<!-- Banner -->
	<%-include('common/slider')%>

	<!-- gray bg -->	
	<section class="container tm-home-section-1" id="more">
		<div class="row">
		<%-include('common/traveltable')%>
	
		<div class="section-margin-top">
			<div class="row">				
				<div class="tm-section-header">
					<div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
					<div class="col-lg-6 col-md-6 col-sm-6"><h2 class="tm-section-title">Our Tours</h2></div>
					<div class="col-lg-3 col-md-3 col-sm-3"><hr></div>	
				</div>
			</div>
			<div class="row">

				<%for(let result of maintourdata) {%>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="tm-tours-box-1">
						<img src="img/tours-03.jpg" alt="image" class="img-responsive">
						<div class="tm-tours-box-1-info">
							<div class="tm-tours-box-1-info-left">
								<p class="text-uppercase margin-bottom-20"> <%=result.placename%> </p>	
								<p class="gray-text"><%=result.startingdate%></p>
								<p class="gray-text">Number of Travelers : <%=result.personcount%> person</p>
							</div>
							<div class="tm-tours-box-1-info-right">
								<p class="gray-text tours-1-description"><%=result.ourtourdescription%>	
							</div>							
						</div>
						<div class="tm-tours-box-1-link">
							<div class="tm-tours-box-1-link-left">
								Duration: <%=result.duration%>
							</div>
							<a href="/redirect" class="tm-tours-box-1-link-right">
								<p>RS <%=result.price%></p>						
							</a>							
						</div>
					</div>					
				</div>
				<%}%>
			</div>		
		</div>
	</section>		
	
	<!-- white bg -->
	<%-include('common/footer')%>

	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>      		<!-- jQuery -->
  	<script type="text/javascript" src="js/moment.js"></script>							<!-- moment.js -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>					<!-- bootstrap js -->
	<script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>	<!-- bootstrap date time picker js, http://eonasdan.github.io/bootstrap-datetimepicker/ -->
	<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
   	<script type="text/javascript" src="js/templatemo-script.js"></script>      		<!-- Templatemo Script -->
	<script>
		// HTML document is loaded. DOM is ready.
		$(function() {

			$('#hotelCarTabs a').click(function (e) {
			  e.preventDefault()
			  $(this).tab('show')
			})

        	$('.date').datetimepicker({
            	format: 'MM/DD/YYYY'
            });
            $('.date-time').datetimepicker();
           
			// https://css-tricks.com/snippets/jquery/smooth-scrolling/
		  	$('a[href*=#]:not([href=#])').click(function() {
			    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
			      var target = $(this.hash);
			      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			      if (target.length) {
			        $('html,body').animate({
			          scrollTop: target.offset().top
			        }, 1000);
			        return false;
			      }
			    }
		  	});
		});
		
		// Load Flexslider when everything is loaded.
		$(window).load(function() {	  		
		    $('.flexslider').flexslider({
			    controlNav: false
		    });
	  	});
	</script>
 </body>
 </html>
